*{
    margin: auto;
    padding: 0;
    width: 80%;
    
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: white;
    text-align: center;
    background-color: black;
    padding: 30px;
    margin: 0;
}

p{
    font-size: 20px;
    color: #333;
    margin: 30px 20px 10px 20px;
}

ul{
    margin: 30px;
    color: lightgray;
}

li{
    margin: 15px;
}

h3, h4, h5{
    font-size: 15px;
    font-weight: 400;
}

h3{
    text-decoration: overline;
}

h4{
    text-decoration: line-through;
    text-align: center;
}

h5{
    text-decoration: underline;
    text-align: right;
}